# Web Server
WEB_PORT=8088

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ceg
DB_USER=ceg_backend
DB_PASSWORD=password

# Admin Account
ADMIN_DEFAULT_NAME=admin
ADMIN_DEFAULT_PASSWORD=admin@ceg

# JWT
JWT_SECRET=ceg_jwt_secret_key_2026

# DisplayableId
DISPLAY_ID_KEY=ceg_display_id_key_2026