# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.production
.env.development

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
logs/
*.log
npm-debug.log*

# Runtime
pids/
*.pid
*.seed

# Coverage
coverage/
.nyc_output/

# Build
dist/
build/

# Miscellaneous
*.tgz
.eslintcache

# dev
testAccouts.csv
test-scripts/